implementation/be-chat-poc/be-chat-poc.iml
implementation/be-chat-poc/.idea/vcs.xml
implementation/be-chat-poc/.idea/misc.xml
implementation/be-chat-poc/.idea/jarRepositories.xml
implementation/be-chat-poc/.idea/compiler.xml
implementation/be-chat-poc/.idea/.gitignore
implementation/be-chat-poc/target/
